<p>product-card works!</p>
<mat-card class="shadow">
    <img mat-card-img class=" !h-80"
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shoe/g/s/q/9-ultraboost-phylon-white-green-9-killer-ultraboost-white-green-original-imagt4sze4uhyenb.jpeg?q=70">
    <div>
        <h1>Product Name</h1>
        <h1>Product Brand</h1>
        <div class="flex gap-2">
            <span> Rs. 1000</span>
            <span><s>Rs. 2000</s></span>
            <span>(50%) OFF</span>
        </div>
    </div>
</mat-card>