<p>product-card works!</p>
<mat-card class="shadow">
    <img mat-card-img class=" !h-80"
        [src]="product.image">
    <div>
        <h1>{{product.name | uppercase}}</h1>
        <h1>{{product.brand | uppercase}}</h1>
        <div class="flex gap-2">
            <span> {{product.currentPrice | rupee}}</span>
            <span><s>{{product.standerdPrice | rupee}}</s></span>
            <span>( {{product.discount}}%) OFF</span>
        </div>
        <div class="flex justify-center">
            <button mat-raised-button color ="primary" (click)="view()">View</button>
        </div>
    </div>
</mat-card>